@import "../../styles/variables.scss";

.tab-container {
  padding: 20px;

  .tab-btns {
    display: flex;
    list-style: none;
    gap: 25px;

    li {
      border: 1px solid $soft-color;
      padding: 10px;
      width: 80px;
      border-radius: 25px;
      text-align: center;
      cursor: pointer;
    }
    .tab-active {
      background-color: $soft-color;
      color: $dark-color;
    }
  }

  .tab-content {
    margin-top: 25px;
  }
}
