// way to declare variables in scss $variablename: value;

$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;

$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

$form-bg-soft: #112541;
$form-bg-dark: #0b1c33;

$form-container-color: #1f3758

